// Define variables for your color scheme

// For example:
$mc: #443737;
$mf: #2C0F0A;
$vf: #404F49;
$vc: #7C8E57;
$jf: #EADD91;
$jc: #F7FDB3;


$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
