<div class="title">
  <h1>Find a chef to cook at home</h1>
</div>

<!-- A modifier lors de l'utilisation de la gem search -->
<div class="bar">
  <div class="search-bar">
    <%= form_tag offers_path, class: "form-inline", method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control mr-sm-2",
        id: "address_input",
        placeholder: "Where do you eat?"
      %>
      <%= submit_tag "Search", class: "btn btn-warning my-2 my-sm-0" %>
    <% end %>
  </div>
</div>

<img src="https://res.cloudinary.com/dxm0jgohk/image/upload/c_scale,w_973/v1591109807/CoCook/home_page_seyufq.jpg"
     alt="homepage_img" class="homepage_img">
