<div class="title">
  <h1>Find a chef to cook at home</h1>
</div>

<!-- A modifier lors de l'utilisation de la gem search -->
<div class="bar">
  <div class="search-bar">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="address" placeholder="Where do you eat?" label="Search">
      <button class="btn btn-warning my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</div>

<img src="https://res.cloudinary.com/dxm0jgohk/image/upload/c_scale,w_973/v1591109807/CoCook/home_page_seyufq.jpg"
     alt="homepage_img" class="homepage_img">
