// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "searchbar";
@import "notification";

h1 {
  padding: 50px 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 48px;
}

.homepage_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  width: 80%;
}

.nav{
  margin: 16px 0px;
}

.nav-pills .nav-link{

  border-radius: 5px;
  color: #483737;
  font-size: 16px;
  font-weight: bolder;

  &.active{
    background-color: #483737;
  }

}
