// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "searchbar";
@import "notification";
@import "_navtab_bootstrap.scss";

h1 {
  padding: 50px 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 48px;
}

.homepage_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  width: 80%;
}
