#map {
  border: solid 1px black;
  // height: 100vh;
  height: 800px;
  width: 100%;
  position: sticky;
  top: 0;
  margin-top: 50px;
  margin-left: 20px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
