.bar {
  display: flex;
  justify-content: center;
}
.search-bar {
  padding: 5px 5px;
  background-color: #483737;
  border-radius: 5px;
  margin: 0 auto;
  width: 80%;
}

.form-inline {
  flex-flow: nowrap;
}

#address_input {
  width: 100%;
}
